@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-Regular.ttf); }

@font-face {
  font-family: 'Rubik';
  src: url(../fonts/RubikMonoOne-Regular.ttf); }

@font-face {
  font-family: 'Lato-bi';
  src: url(../fonts/Lato-BlackItalic.ttf); }

body, html {
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Lato-bi';
  background: black; }

.clear::after {
  content: '';
  display: table;
  clear: both; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.fs-form {
  width: 50%;
  margin: 70px auto 100px;
  position: relative; }
  .fs-form::after {
    content: '';
    display: table;
    clear: both; }

.fs-input {
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  width: 100%;
  border-style: none;
  border: 1px solid #581a80;
  margin: 10px auto;
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease; }
  .fs-input:focus {
    border-color: #e8400b; }
  .fs-input:invalid {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.fleft {
  float: left; }

.fright {
  float: right; }

.fs-btn {
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  width: 100%;
  border-style: none;
  border: 1px solid #581a80;
  margin: 10px auto; }

.fs-nav-top {
  width: 100%;
  position: relative; }
  .fs-nav-top::after {
    content: '';
    display: table;
    clear: both; }

.fs-nav-logo {
  width: 5%;
  position: relative;
  margin: 0px; }
  .fs-nav-logo img {
    width: 100%; }

.fs-container {
  width: 1170px;
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  min-height: 75vh; }
  .fs-container::after {
    content: '';
    display: table;
    clear: both; }

.fs-container-fluid {
  overflow: hidden;
  min-height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  position: relative;
  z-index: 1002;
  min-height: 75vh;
  -webkit-transition: 350ms ease;
  -moz-transition: 350ms ease;
  -o-transition: 350ms ease;
  transition: 350ms ease; }
  .fs-container-fluid::after {
    content: '';
    display: table;
    clear: both; }
  .fs-container-fluid.nav-opened {
    width: 80% !important;
    -webkit-filter: blur(2px) grayscale(100%);
    filter: blur(2px) grayscale(100%);
    opacity: .3; }
    .fs-container-fluid.nav-opened figure.banner-wrapper::after {
      background-attachment: initial; }

.fs-row {
  margin-left: -15px;
  margin-right: -15px; }
  .fs-row::after {
    content: '';
    display: table;
    clear: both; }

.fs-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.fs-fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }

.fs-abs-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.fs-abs-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.bottom-fade::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
  background: -webkit-linear-gradient(bottom, black 0%, transparent 100%);
  background: -o-linear-gradient(bottom, black 0%, transparent 100%);
  background: linear-gradient(to top, black 0%, transparent 100%);
  opacity: .7; }

.white-fade::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  opacity: .3;
  z-index: 1001; }

.white-fade-gradient::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, rgba(255, 255, 255, 0.5)), to(transparent));
  background: -webkit-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0.5) 50%, transparent 100%);
  background: -o-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0.5) 50%, transparent 100%);
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.5) 50%, transparent 100%);
  opacity: 1;
  z-index: 1000; }

.black-fade::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: .8;
  z-index: 1001; }

.long {
  height: 200vh;
  width: 10px; }

footer.fs-footer {
  padding: 30px 30px 10px;
  text-align: center;
  background: #1a1a1a;
  width: 100%;
  position: relative; }
  footer.fs-footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: -webkit-gradient(linear, left top, right top, from(#e8400b), to(#581a80));
    background: -webkit-linear-gradient(left, #e8400b, #581a80);
    background: -o-linear-gradient(left, #e8400b, #581a80);
    background: linear-gradient(to right, #e8400b, #581a80); }
  footer.fs-footer .social-medias label {
    color: #333333; }
  footer.fs-footer .social-medias ul li {
    display: inline-block;
    padding: 20px; }
    footer.fs-footer .social-medias ul li a {
      text-decoration: none;
      color: white;
      font-size: 30px;
      -webkit-transition: 250ms ease;
      -moz-transition: 250ms ease;
      -o-transition: 250ms ease;
      transition: 250ms ease; }
      footer.fs-footer .social-medias ul li a:hover {
        background: -webkit-gradient(linear, left top, right top, from(#e8400b), to(#581a80));
        background: -webkit-linear-gradient(left, #e8400b, #581a80);
        background: -o-linear-gradient(left, #e8400b, #581a80);
        background: linear-gradient(to right, #e8400b, #581a80);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  footer.fs-footer p {
    color: #f7f7f7;
    margin: 0 auto;
    padding: 15px;
    width: 35%;
    border-top: 1px solid #333333; }

section.featured-graphics-wrapper {
  padding: 40px 0px; }

section.services-overview {
  padding: 100px 0px; }
  section.services-overview ul {
    text-align: center; }
    section.services-overview ul li {
      display: inline-block;
      margin: 0 50px; }
      section.services-overview ul li figure img {
        width: 200px; }

nav.fs-nav {
  width: 0%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: transparent;
  z-index: 2000;
  -webkit-transition: 350ms ease;
  -moz-transition: 350ms ease;
  -o-transition: 350ms ease;
  transition: 350ms ease; }
  nav.fs-nav.fixed ul.fs-navlist {
    background: white;
    -webkit-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); }
    nav.fs-nav.fixed ul.fs-navlist li.fs-item {
      padding: 15px !important; }
      nav.fs-nav.fixed ul.fs-navlist li.fs-item a.nav-link {
        color: black; }
        nav.fs-nav.fixed ul.fs-navlist li.fs-item a.nav-link:hover {
          color: #e8400b; }
  nav.fs-nav figure.navbar-logo {
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 50px;
    z-index: 1002;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -o-transition: 300ms ease;
    transition: 300ms ease; }
    nav.fs-nav figure.navbar-logo img {
      height: 100%; }
  nav.fs-nav ul.fs-navlist {
    list-style: none;
    padding: 0;
    text-align: center;
    -webkit-box-shadow: 0 4px 20px transparent;
    box-shadow: 0 4px 20px transparent;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -o-transition: 300ms ease;
    transition: 300ms ease;
    opacity: 1;
    position: relative;
    z-index: 1001; }
    nav.fs-nav ul.fs-navlist.fs-nav-translate {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -o-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
      opacity: 1; }
    nav.fs-nav ul.fs-navlist li.fs-item {
      display: inline-block;
      padding: 25px;
      -webkit-transition: 250ms ease;
      -moz-transition: 250ms ease;
      -o-transition: 250ms ease;
      transition: 250ms ease;
      position: relative; }
      nav.fs-nav ul.fs-navlist li.fs-item::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 3px;
        background: -webkit-gradient(linear, left top, right top, from(#e8400b), to(#581a80));
        background: -webkit-linear-gradient(left, #e8400b, #581a80);
        background: -o-linear-gradient(left, #e8400b, #581a80);
        background: linear-gradient(to right, #e8400b, #581a80);
        opacity: 0;
        -webkit-transition: 350ms ease;
        -moz-transition: 350ms ease;
        -o-transition: 350ms ease;
        transition: 350ms ease; }
      nav.fs-nav ul.fs-navlist li.fs-item a {
        text-decoration: none;
        color: white;
        display: block;
        -webkit-transition: 250ms ease;
        -moz-transition: 250ms ease;
        -o-transition: 250ms ease;
        transition: 250ms ease; }
      nav.fs-nav ul.fs-navlist li.fs-item:hover .sub-nav {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1; }
      nav.fs-nav ul.fs-navlist li.fs-item:hover::before {
        opacity: 1;
        width: 100%; }
      nav.fs-nav ul.fs-navlist li.fs-item .sub-nav {
        display: none;
        position: absolute;
        bottom: -88px;
        left: 0;
        width: 300%;
        background: #eeeeee;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px;
        -webkit-transition: 250ms ease;
        -moz-transition: 250ms ease;
        -o-transition: 250ms ease;
        transition: 250ms ease;
        -webkit-transform: translateX(-30px);
        -moz-transform: translateX(-30px);
        -o-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
        transform: translateX(-30px);
        opacity: 0; }
        nav.fs-nav ul.fs-navlist li.fs-item .sub-nav ul li a {
          color: black; }

figure.logo-wrapper {
  margin: 0;
  text-align: center; }
  figure.logo-wrapper a {
    display: inline-block; }
  figure.logo-wrapper img.logo {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; }
  figure.logo-wrapper header.logo-header {
    padding: 10px 15px;
    display: inline-block;
    border: 2px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  figure.logo-wrapper h5 {
    margin: 0;
    color: white;
    font-size: calc(100% + 10px);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600; }

figure.banner-wrapper {
  width: 100%;
  height: 70vh;
  margin: 0;
  display: block;
  position: relative;
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
  -webkit-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); }
  figure.banner-wrapper .banner-title {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1002;
    color: white;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.4); }
  figure.banner-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    height: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
    background: -webkit-linear-gradient(top, black, transparent);
    background: -o-linear-gradient(top, black, transparent);
    background: linear-gradient(to bottom, black, transparent);
    opacity: .5; }
  figure.banner-wrapper.banner-1::after {
    background: url("../images/home.jpg") no-repeat; }
  figure.banner-wrapper.banner-2 {
    height: 20vh; }
    figure.banner-wrapper.banner-2::after {
      background: url("../images/graphics.jpg") no-repeat; }
  figure.banner-wrapper.banner-3 {
    height: 20vh; }
    figure.banner-wrapper.banner-3::after {
      background: url("../images/portfolio.jpg") no-repeat;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
  figure.banner-wrapper.banner-4 {
    height: 20vh; }
    figure.banner-wrapper.banner-4::after {
      background: url("../images/contact.jpg") no-repeat;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
  figure.banner-wrapper.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -370px;
    z-index: 1000; }
  figure.banner-wrapper figure.logo-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1001; }
    figure.banner-wrapper figure.logo-wrapper img {
      margin-bottom: 0; }
  figure.banner-wrapper input#nav-btn {
    display: inline-block;
    position: relative;
    z-index: 1004; }

button#nav-btn-trig {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1004;
  border-style: none;
  padding: 10px 20px;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: none;
  border: 1px solid white;
  margin: 20px 0px 0px 20px;
  cursor: pointer;
  -webkit-box-shadow: 0 8px 32px transparent;
  box-shadow: 0 8px 32px transparent;
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease; }
  button#nav-btn-trig:link {
    outline: none; }
  button#nav-btn-trig::-moz-focus-inner {
    outline: none; }
  button#nav-btn-trig:focus {
    outline: none; }
  button#nav-btn-trig:hover {
    background: white;
    color: #343D44;
    border: none;
    -webkit-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5); }

section.services-pop-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  z-index: 1005; }
  section.services-pop-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 45%;
    width: 100px;
    height: 200%;
    background: #e8400b;
    z-index: 1000;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: .5;
    border-right: 50px solid #e8400b; }
  section.services-pop-wrapper article.service-pop-main {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background: -webkit-gradient(linear, left top, right bottom, from(#656F7D), to(#39424F));
    background: -webkit-linear-gradient(top left, #656F7D 0%, #39424F 100%);
    background: -o-linear-gradient(top left, #656F7D 0%, #39424F 100%);
    background: linear-gradient(to bottom right, #656F7D 0%, #39424F 100%);
    -webkit-box-shadow: 0 8px 15px -4px rgba(0, 0, 0, 0.8);
    box-shadow: 0 8px 15px -4px rgba(0, 0, 0, 0.8);
    z-index: 1001; }
    section.services-pop-wrapper article.service-pop-main h1 {
      font-family: 'Lato-bi';
      color: #5B6472;
      margin: 0;
      font-size: 80px;
      text-transform: uppercase;
      line-height: 60px; }
    section.services-pop-wrapper article.service-pop-main .service-pop-sub {
      position: absolute;
      top: 20%;
      left: 30%;
      height: 65%;
      width: 87%;
      background: white;
      -webkit-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5); }
      section.services-pop-wrapper article.service-pop-main .service-pop-sub button#see-all {
        padding: 20px 40px;
        border-style: none;
        background: #e8400b;
        color: white;
        position: absolute;
        bottom: 0;
        right: 30px;
        font-size: 12px;
        text-transform: uppercase;
        -webkit-transform: translateY(50%) scale(1);
        -moz-transform: translateY(50%) scale(1);
        -o-transform: translateY(50%) scale(1);
        -ms-transform: translateY(50%) scale(1);
        transform: translateY(50%) scale(1);
        -webkit-box-shadow: 0 8px 32px 0px rgba(232, 64, 11, 0.6);
        box-shadow: 0 8px 32px 0px rgba(232, 64, 11, 0.6);
        -webkit-transition: 250ms ease;
        -moz-transition: 250ms ease;
        -o-transition: 250ms ease;
        transition: 250ms ease;
        cursor: pointer; }
        section.services-pop-wrapper article.service-pop-main .service-pop-sub button#see-all:link {
          outline: none; }
        section.services-pop-wrapper article.service-pop-main .service-pop-sub button#see-all:focus {
          outline: none; }
        section.services-pop-wrapper article.service-pop-main .service-pop-sub button#see-all:hover {
          -webkit-transform: translateY(50%) scale(1.05);
          -moz-transform: translateY(50%) scale(1.05);
          -o-transform: translateY(50%) scale(1.05);
          -ms-transform: translateY(50%) scale(1.05);
          transform: translateY(50%) scale(1.05);
          -webkit-box-shadow: 0 8px 20px -8px rgba(232, 64, 11, 0.6);
          box-shadow: 0 8px 20px -8px rgba(232, 64, 11, 0.6); }

nav.fs-nav-top {
  background: url("../images/dashboard.jpg") no-repeat;
  background-size: 100%;
  background-position: 0 -600px;
  background-attachment: fixed;
  padding: 20px; }
  nav.fs-nav-top .fs-logo-wrapper {
    position: relative;
    z-index: 1001; }
    nav.fs-nav-top .fs-logo-wrapper::after {
      content: '';
      display: table;
      clear: both; }
    nav.fs-nav-top .fs-logo-wrapper figure.fs-nav-logo {
      padding: 10px;
      width: 10%; }
    nav.fs-nav-top .fs-logo-wrapper header.fs-header {
      position: absolute;
      top: 50%;
      left: 12%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 40%; }
      nav.fs-nav-top .fs-logo-wrapper header.fs-header h1 {
        color: white;
        margin-bottom: 0; }
  nav.fs-nav-top .fs-navbar {
    width: 20%;
    position: relative;
    z-index: 1001; }
    nav.fs-nav-top .fs-navbar::after {
      content: '';
      display: table;
      clear: both; }
    nav.fs-nav-top .fs-navbar ul.navbar-list {
      min-width: 186.3px; }
      nav.fs-nav-top .fs-navbar ul.navbar-list::after {
        content: '';
        display: table;
        clear: both; }
      nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item {
        float: right;
        width: 20%; }
        nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item.active figure {
          -webkit-transform: scale(0.7);
          -moz-transform: scale(0.7);
          -o-transform: scale(0.7);
          -ms-transform: scale(0.7);
          transform: scale(0.7); }
        nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item figure.navbar-icon-wrapper {
          width: 100%;
          max-height: 37.25px;
          max-width: 37.25px;
          margin-left: auto;
          -webkit-transition: 250ms ease;
          -moz-transition: 250ms ease;
          -o-transition: 250ms ease;
          transition: 250ms ease;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          -o-border-radius: 100%;
          border-radius: 100%;
          overflow: hidden; }
          nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item figure.navbar-icon-wrapper img {
            width: 100%;
            cursor: pointer; }
        nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item ul.nav-list {
          position: absolute;
          bottom: 0;
          right: 0;
          -webkit-transform: translateY(70%);
          -moz-transform: translateY(70%);
          -o-transform: translateY(70%);
          -ms-transform: translateY(70%);
          transform: translateY(70%);
          background: white;
          -webkit-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
          padding: 10px;
          opacity: 0;
          min-width: 167.767px;
          -webkit-transition: 250ms ease;
          -moz-transition: 250ms ease;
          -o-transition: 250ms ease;
          transition: 250ms ease; }
          nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item ul.nav-list.show {
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -o-transform: translateY(100%);
            -ms-transform: translateY(100%);
            transform: translateY(100%);
            opacity: 1; }
          nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item ul.nav-list li a,
          nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item ul.nav-list li button {
            padding: 10px 20px;
            display: block;
            color: #581a80;
            margin: 0;
            cursor: pointer;
            -webkit-transition: 250ms ease;
            -moz-transition: 250ms ease;
            -o-transition: 250ms ease;
            transition: 250ms ease;
            text-align: left;
            font-size: 14px; }
            nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item ul.nav-list li a:hover,
            nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item ul.nav-list li button:hover {
              background: #581a80;
              color: white; }
          nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item ul.nav-list li a {
            color: #581a80;
            text-decoration: none; }
          nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item ul.nav-list li form button {
            border-style: none;
            background: none;
            color: #581a80;
            width: 100%; }
            nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item ul.nav-list li form button:focus, nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item ul.nav-list li form button:link {
              outline: none; }
        nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item#welcome {
          float: left;
          width: 80%;
          text-align: right;
          margin-top: 8px;
          color: white; }
          nav.fs-nav-top .fs-navbar ul.navbar-list li.navbar-item#welcome label {
            margin: 0; }

/* ##### VIEWS ##### */
.home-page .home-title {
  margin: 0;
  padding: 0 20px;
  margin: 20px 0; }

.home-page ul.graphics-wrapper {
  padding: 0 20px !important; }

.contact-page label.email-notif {
  display: block;
  width: 50%;
  padding: 10px;
  border: 1px solid #459506;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px; }

.contact-page label#success {
  color: #459506; }

.contact-page label#failed {
  color: #FB2800;
  border-color: #FB2800; }

form.fs-form .form-text {
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  width: 50%;
  border-style: none;
  border: 1px solid #581a80;
  margin: 10px auto;
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease; }
  form.fs-form .form-text:focus {
    border-color: #e8400b; }
  form.fs-form .form-text:invalid {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

form.fs-form button:hover::before {
  width: 100%;
  opacity: 1; }

section.login-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#e8400b), to(#581a80));
  background: -webkit-linear-gradient(left, #e8400b, #581a80);
  background: -o-linear-gradient(left, #e8400b, #581a80);
  background: linear-gradient(to right, #e8400b, #581a80); }
  section.login-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/admin3.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 1000;
    -webkit-animation: changeBg2 20s ease infinite forwards;
    animation: changeBg2 20s ease infinite forwards; }
  section.login-wrapper article.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1001;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    padding: 50px;
    overflow: hidden; }
    section.login-wrapper article.form-wrapper::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 100vh;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-size: cover;
      background-position: 50%;
      z-index: 1000;
      -webkit-filter: grayscale(100%) blur(10px);
      filter: grayscale(100%) blur(10px);
      -webkit-animation: changeBg2 20s ease infinite forwards;
      animation: changeBg2 20s ease infinite forwards;
      z-index: 1000; }
    section.login-wrapper article.form-wrapper figure.logo-wrapper {
      width: 20%;
      margin: 0 auto 30px;
      position: relative;
      z-index: 1001;
      display: block; }
      section.login-wrapper article.form-wrapper figure.logo-wrapper img {
        width: 100%; }
    section.login-wrapper article.form-wrapper p.notification {
      display: block;
      position: relative;
      padding: 5px 10px;
      text-align: center;
      color: #f9d3d4;
      background: #E84B50;
      z-index: 1001;
      margin: 0 30px 20px;
      -webkit-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); }
    section.login-wrapper article.form-wrapper form.login-form {
      padding: 0px 30px;
      z-index: 1001;
      position: relative; }
      section.login-wrapper article.form-wrapper form.login-form .field-wrapper {
        padding: 8px 20px;
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.1);
        -webkit-box-shadow: 0 4px 10px transparent;
        box-shadow: 0 4px 10px transparent;
        -webkit-transition: 250ms ease;
        -moz-transition: 250ms ease;
        -o-transition: 250ms ease;
        transition: 250ms ease;
        position: relative; }
        section.login-wrapper article.form-wrapper form.login-form .field-wrapper::after {
          content: '';
          display: table;
          clear: both; }
        section.login-wrapper article.form-wrapper form.login-form .field-wrapper.focus {
          border-color: white;
          -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); }
        section.login-wrapper article.form-wrapper form.login-form .field-wrapper:nth-child(1) {
          margin-bottom: 20px; }
        section.login-wrapper article.form-wrapper form.login-form .field-wrapper span {
          border-right: 1px solid white;
          color: white;
          padding-right: 10px;
          display: inline-block;
          width: 7%;
          float: left; }
        section.login-wrapper article.form-wrapper form.login-form .field-wrapper input.form-field {
          width: 90%;
          float: right;
          background: transparent;
          border-style: none;
          color: white; }
          section.login-wrapper article.form-wrapper form.login-form .field-wrapper input.form-field:invalid {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none; }
      section.login-wrapper article.form-wrapper form.login-form button.submit-btn {
        border-style: none;
        padding: 10px 20px;
        display: block;
        width: 100%;
        color: #f7f7f7;
        background: #1a1a1a;
        text-transform: uppercase;
        margin-top: 20px;
        cursor: pointer;
        -webkit-transition: 250ms ease;
        -moz-transition: 250ms ease;
        -o-transition: 250ms ease;
        transition: 250ms ease; }
        section.login-wrapper article.form-wrapper form.login-form button.submit-btn:hover {
          background: black; }
  section.login-wrapper p.copyright {
    position: absolute;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1001;
    color: white;
    font-size: 12px;
    width: 100%;
    text-align: center; }

@-webkit-keyframes changeBg {
  0% {
    background: url("../images/admin.jpg");
    background-size: cover;
    opacity: 0; }
  15% {
    background: url("../images/admin.jpg");
    background-size: cover;
    opacity: .4; }
  30% {
    background: url("../images/admin.jpg");
    background-size: cover;
    opacity: 0; }
  30.2% {
    background: url("../images/admin2.jpg");
    background-size: cover;
    opacity: 0; }
  45% {
    background: url("../images/admin2.jpg");
    background-size: cover;
    opacity: .4; }
  60% {
    background: url("../images/admin2.jpg");
    background-size: cover;
    opacity: 0; }
  60.2% {
    background: url("../images/admin3.jpg");
    background-size: cover;
    opacity: 0; }
  80% {
    background: url("../images/admin3.jpg");
    background-size: cover;
    opacity: .4; }
  100% {
    background: url("../images/admin3.jpg");
    background-size: cover;
    opacity: 0; } }

@keyframes changeBg {
  0% {
    background: url("../images/admin.jpg");
    background-size: cover;
    opacity: 0; }
  15% {
    background: url("../images/admin.jpg");
    background-size: cover;
    opacity: .4; }
  30% {
    background: url("../images/admin.jpg");
    background-size: cover;
    opacity: 0; }
  30.2% {
    background: url("../images/admin2.jpg");
    background-size: cover;
    opacity: 0; }
  45% {
    background: url("../images/admin2.jpg");
    background-size: cover;
    opacity: .4; }
  60% {
    background: url("../images/admin2.jpg");
    background-size: cover;
    opacity: 0; }
  60.2% {
    background: url("../images/admin3.jpg");
    background-size: cover;
    opacity: 0; }
  80% {
    background: url("../images/admin3.jpg");
    background-size: cover;
    opacity: .4; }
  100% {
    background: url("../images/admin3.jpg");
    background-size: cover;
    opacity: 0; } }

@-webkit-keyframes changeBg2 {
  0% {
    background: url("../images/admin.jpg");
    background-size: cover;
    opacity: 0; }
  15% {
    background: url("../images/admin.jpg");
    background-size: cover;
    opacity: .7; }
  30% {
    background: url("../images/admin.jpg");
    background-size: cover;
    opacity: 0; }
  30.2% {
    background: url("../images/admin2.jpg");
    background-size: cover;
    opacity: 0; }
  45% {
    background: url("../images/admin2.jpg");
    background-size: cover;
    opacity: .7; }
  60% {
    background: url("../images/admin2.jpg");
    background-size: cover;
    opacity: 0; }
  60.2% {
    background: url("../images/admin3.jpg");
    background-size: cover;
    opacity: 0; }
  80% {
    background: url("../images/admin3.jpg");
    background-size: cover;
    opacity: .7; }
  100% {
    background: url("../images/admin3.jpg");
    background-size: cover;
    opacity: 0; } }

@keyframes changeBg2 {
  0% {
    background: url("../images/admin.jpg");
    background-size: cover;
    opacity: 0; }
  15% {
    background: url("../images/admin.jpg");
    background-size: cover;
    opacity: .7; }
  30% {
    background: url("../images/admin.jpg");
    background-size: cover;
    opacity: 0; }
  30.2% {
    background: url("../images/admin2.jpg");
    background-size: cover;
    opacity: 0; }
  45% {
    background: url("../images/admin2.jpg");
    background-size: cover;
    opacity: .7; }
  60% {
    background: url("../images/admin2.jpg");
    background-size: cover;
    opacity: 0; }
  60.2% {
    background: url("../images/admin3.jpg");
    background-size: cover;
    opacity: 0; }
  80% {
    background: url("../images/admin3.jpg");
    background-size: cover;
    opacity: .7; }
  100% {
    background: url("../images/admin3.jpg");
    background-size: cover;
    opacity: 0; } }

body.dashboard-page {
  background: white;
  min-height: 100vh; }
  body.dashboard-page input {
    display: block; }
  body.dashboard-page form.fs-form figure.upload-img-wrapper {
    width: auto;
    min-height: 200px;
    margin: 50px auto 20px;
    background: whitesmoke;
    position: relative;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    padding: 2px;
    border: 1px solid #581a80;
    -webkit-transition: 250ms ease;
    -moz-transition: 250ms ease;
    -o-transition: 250ms ease;
    transition: 250ms ease; }
    body.dashboard-page form.fs-form figure.upload-img-wrapper:hover {
      border-color: #e8400b; }
    body.dashboard-page form.fs-form figure.upload-img-wrapper::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
      opacity: 0;
      z-index: 1000; }
    body.dashboard-page form.fs-form figure.upload-img-wrapper span.fs-icon {
      font-size: 50px;
      background: -webkit-gradient(linear, left top, right top, from(#e8400b), to(#581a80));
      background: -webkit-linear-gradient(left, #e8400b, #581a80);
      background: -o-linear-gradient(left, #e8400b, #581a80);
      background: linear-gradient(to right, #e8400b, #581a80);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1);
      -moz-transform: translate(-50%, -50%) scale(1);
      -o-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
      z-index: 1002;
      text-align: center;
      opacity: 1; }
      body.dashboard-page form.fs-form figure.upload-img-wrapper span.fs-icon.sendToBack {
        z-index: 1000; }
      body.dashboard-page form.fs-form figure.upload-img-wrapper span.fs-icon p {
        display: block;
        margin: 0;
        font-size: 16px; }
    body.dashboard-page form.fs-form figure.upload-img-wrapper:hover::before {
      opacity: 0;
      z-index: 1002;
      -webkit-animation: fading 500ms ease forwards;
      animation: fading 500ms ease forwards; }
    body.dashboard-page form.fs-form figure.upload-img-wrapper:hover span.fs-icon {
      opacity: 1;
      z-index: 1003;
      -webkit-animation: popup 500ms ease forwards;
      animation: popup 500ms ease forwards; }
    body.dashboard-page form.fs-form figure.upload-img-wrapper img {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 1001;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }

@-webkit-keyframes popup {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0); }
  30% {
    -webkit-transform: translate(-50%, -50%) scale(1.4);
    -moz-transform: translate(-50%, -50%) scale(1.4);
    -o-transform: translate(-50%, -50%) scale(1.4);
    transform: translate(-50%, -50%) scale(1.4); }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); } }

@keyframes popup {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0); }
  30% {
    -webkit-transform: translate(-50%, -50%) scale(1.4);
    -moz-transform: translate(-50%, -50%) scale(1.4);
    -o-transform: translate(-50%, -50%) scale(1.4);
    transform: translate(-50%, -50%) scale(1.4); }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); } }

@-webkit-keyframes fading {
  0% {
    opacity: 0; }
  100% {
    opacity: .9; } }

@keyframes fading {
  0% {
    opacity: 0; }
  100% {
    opacity: .9; } }

ul.graphics-wrapper {
  width: 100%; }
  ul.graphics-wrapper::after {
    content: '';
    display: table;
    clear: both; }
  ul.graphics-wrapper li {
    width: 25%;
    float: left;
    padding: 10px; }
    ul.graphics-wrapper li:hover .thumbnail-wrapper {
      -webkit-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
      border-color: #eeeeee; }
    ul.graphics-wrapper li .thumbnail-wrapper {
      overflow: hidden;
      width: 100%;
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      border: 1px solid #eeeeee;
      -webkit-transition: 250ms ease;
      -moz-transition: 250ms ease;
      -o-transition: 250ms ease;
      transition: 250ms ease; }
      ul.graphics-wrapper li .thumbnail-wrapper figure.thumbnail-container {
        width: 100%;
        background: white;
        margin: 0;
        height: 220px; }
        ul.graphics-wrapper li .thumbnail-wrapper figure.thumbnail-container img.thumbnail {
          height: 100%;
          width: auto;
          display: block;
          margin: 0 auto; }
      ul.graphics-wrapper li .thumbnail-wrapper .caption {
        display: block;
        text-align: center;
        min-height: 88px;
        color: #1a1a1a;
        padding: 20px; }

section.webdev-wrapper {
  padding: 50px 0px; }
  section.webdev-wrapper ul li a {
    color: #333333;
    text-decoration: none;
    display: block;
    background: white;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    -webkit-transition: 250ms ease;
    -moz-transition: 250ms ease;
    -o-transition: 250ms ease;
    transition: 250ms ease; }
    section.webdev-wrapper ul li a:hover {
      -webkit-box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
      border-color: #eeeeee;
      color: black; }
      section.webdev-wrapper ul li a:hover img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); }
    section.webdev-wrapper ul li a figure {
      margin: 0; }
      section.webdev-wrapper ul li a figure img {
        -webkit-filter: grayscale(35%);
        filter: grayscale(35%);
        -webkit-transition: 250ms ease;
        -moz-transition: 250ms ease;
        -o-transition: 250ms ease;
        transition: 250ms ease; }
      section.webdev-wrapper ul li a figure .caption {
        padding: 10px;
        text-align: center; }
